
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
      <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

  
    <!-- Vendor CSS Files -->
<link th:href="@{vendor/aos/aos.css}" rel="stylesheet">
<link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
<link th:href="@{vendor/boxicons/css/boxicons.min.css}" rel="stylesheet">
<link th:href="@{vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
<link th:href="@{vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">

<!-- Template Main CSS File -->
<link th:href="@{css/style_admin.css}" rel="stylesheet">
<link th:href="@{css/form.css}" rel="stylesheet">
</head>

<div>

	  <!-- ======= Header ======= -->
  <div layout:fragment="header">
        <div th:replace="header :: header"></div>
  </div>
     <!-- ======= end Header ======= -->
      <!-- ======= sidebar ======= -->
  <div layout:fragment="aside">
        <div th:replace="slidebar :: sidebar"></div>
  </div>
  <!-- ======= sidebar ======= -->
    <div layout:fragment="content" >
  <div class = "Title-nav" > Dashboard | Product | Product - Form-add</div>
		<div class="wrapper">
			
 <div class="m-4 md:mt-0 md:col-span-2 shadow rounded shadow-2xl y-8 px-16 py-8 w-2/3 m-auto">
        <h1 class="block w-full text-center text-gray-600 text-2xl font-bold mb-6">From Add Product</h1>
        <form th:action="@{/product-save}" th:object="${product}" method="post" class="form-horizontal" enctype="multipart/form-data">
            
            <div class="flex flex-col mb-4">
			    <label class="mb-2 font-semibold text-lg text-indigo-800" for="productType">Product Type:<span>*</span></label>
			    <select class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
			            id="productType" name="productType" th:field="*{productTypeId}">
			        <option value="">Select...</option>
			        <option th:each="productType: ${productTypes}" th:value="${productType.id}" th:text="${productType.name}"/>
			    </select>
			    <p class="text-red-600" th:if="${#fields.hasErrors('productTypeId')}" th:errors="*{productTypeId}"></p>
			</div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="name">Name</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="text" id="name" th:field="*{name}" />
                <span class="text-red-600" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="img">Image</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="file" name="imageFile" id="imageFile"  />
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="price">Brand</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="text" id="brand" th:field="*{brand}" />
            </div>
             <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="price">Made in</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="text" id="madein" th:field="*{madein}" />
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="price">Price</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="number" id="price" th:field="*{price}" />
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="price">quantity</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="number" id="quantity" th:field="*{quantity}" />
            </div>
             <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="price">title</label>
                <input class="border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    type="text" id="madein" th:field="*{title}" />
            </div>
            <div class="flex flex-col mb-4">
                <label class="mb-2 font-semibold text-lg text-indigo-800" for="description">Description</label>
                <textarea class="block w-full h-40 px-4 py-2 text-gray-700 border border-blue-500 py-2 px-3 text-grey-800 rounded focus:outline-blue-900"
                    id="description" th:field="*{detail}"></textarea>
            </div>
            
            <button type="submit"
                class="bg-indigo-500 hover:bg-indigo-700 text-white text-center py-2 px-8 rounded mx-auto block">ADD</button>
        </form>
    </div>
		</div>
    </div>
 <script th:src="@{vendor/purecounter/purecounter_vanilla.js}"></script>
	<script th:src="@{vendor/aos/aos.js}"type="text/javascript"></script>
	<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{vendor/glightbox/js/glightbox.min.js}" ></script>
	<script th:src="@{vendor/isotope-layout/isotope.pkgd.min.js}"></script>
	<script th:src="@{vendor/swiper/swiper-bundle.min.js}" ></script>
	<script th:src="@{vendor/typed.js/typed.umd.js}" ></script>
	<script th:src="@{vendor/waypoints/noframework.waypoints.js}"></script>
	<script th:src="@{vendor/php-email-form/validate.js}" ></script>
	<script th:src="@{js/main.js}"></script>
</body>
</html>

